<div id='search-modal' class="hidden">
  <div class="modal-background">
      <div class="search-placeholder">
          <div id='close-modal'>
              <i class="fas fa-times"></i>
          </div>
          <input id='search-input' type='text' placeholder="Rechercher un morceau ..."/>
          <div id='results-placeholder'>
              {{!-- <div class="song-result">
              <img/>
              <div class='song-infos'>
                  <h3>Titre</h3>
                  <p>Artiste</p>
              </div>
              </div> --}}
          </div>
          <div id='select-song-button'>
            <span>Sélectionner    </span><i class="fas fa-chevron-right"></i>
          </div>
      </div>
  </div>
</div>