<!DOCTYPE html>
<html>
  <head>
    <title>Pensées de Confinés</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Roboto+Mono:ital,wght@0,100;0,700;1,500&display=swap" rel="stylesheet">
    <script type="module" src='/javascripts/main.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
  </head>
  <body>
    <header>
  <img id='titre' src="https://res.cloudinary.com/dyvosdvps/image/upload/v1586319233/P2C/titre2_ii90qy.png" alt="pensées de confinés">
  <img id='fleche-1' src="https://res.cloudinary.com/dyvosdvps/image/upload/v1586320101/P2C/fleche_qqpt8c.png" alt="fleche">
  <img id='home-nuages' src="https://res.cloudinary.com/dyvosdvps/image/upload/v1586319523/P2C/home-nuages_wrgwlr.png" alt="nuages">
</header>
    <section id='explanations'>
  <img id='nuage-haut' src="https://res.cloudinary.com/dyvosdvps/image/upload/v1586320106/P2C/nuage-haut_qowls6.png" alt="pensées de confinés">
  <img id='nuages-main' src="https://res.cloudinary.com/dyvosdvps/image/upload/v1586323054/P2C/Pense%CC%81es_de_confine%CC%81s_2_k1k9aj.png" alt="pensées de confinés">
  <p id='explanation'>Une application hors du temps pour, chaque jour, à  chaque instant, partager les pensées, les interrogations, les histoires, les vannes  qui nous traversent. 
<span>Anonyme et bienveillant.</span></p>
  <img id='nuages-main-2' src="https://res.cloudinary.com/dyvosdvps/image/upload/v1586322010/P2C/8_emaosd.png" alt="pensées de confinés">
</section>
<div id='main'>
    {{{body}}}
</div>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  </body>
</html>
